

body {
    margin: 0px;
    text-align: center;
    font-family: sans-serif;
    
}
header {
    font-size: 13px;
    width: 100%;
}
ul {
    text-align: right;
    margin-right: 50px;
    padding-left: 20px;
}

li {
    display: inline-block; 
    vertical-align: middle;  
    width: 40px;
}

li.gmail {
    padding-top: 6px;
    padding-right: 12px;
}

li.images{
   padding-top: 6px;
   padding-right: 1px;
}

li.img {
    padding-top: 5px;  
    padding-right: 10px;
}

li.home {
    padding-top: 5px;
}

div.upblock {
    height: 85px;
}

div.google{
    text-align: center;
    padding-bottom: 20px;
}

input {
    border-radius: 20px; 
    width: 600px;
    height: 40px;
    font-size: 20px;
}

a {
    background-color:rgb(240, 240, 240);
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}
a:link {
    color: rgb(51, 50, 50);
    font-weight: 50;
}
a:hover
{   color: black;
    border: darkgrey solid 1px;
    font-weight: normal;
}

.feelingLucky {
    padding-top: 20px;
}

footer {
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: 50px;
    margin-right: 0px;
    margin-left: 0px;
    bottom: 0;
    position: absolute;
    background-position: bottom;
    text-align: left;
}
.footerdiv {
    height:15px;
}

.footer-right {
    display: block;
    float: right;
    
}

.footer-left {
    float: left;
    display: block;

}

.footer-left li, .footer-right li, a {
    width: auto;
    font-size: 12px;
}

